.navbar.navbar-dark {
    .nav-link {
        color: #ffffff;
    }
    .dropdown-menu-dark {
        .img-submenu {
            width: 25px;
            margin-left: -10px;
            margin-right: 5px;
        }

    }

}